@tailwind base;
@tailwind components;
@tailwind utilities;

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  /* Handle on hover */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }